<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>564881828108-4vfdqgpms5jmk57gnsrea4qjv8lbuj7b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.564881828108-4vfdqgpms5jmk57gnsrea4qjv8lbuj7b</string>
	<key>API_KEY</key>
	<string>AIzaSyDI3-kC9INqZldgFrgERW911Y79dIZ3ye8</string>
	<key>GCM_SENDER_ID</key>
	<string>564881828108</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.noti.app.noti</string>
	<key>PROJECT_ID</key>
	<string>noti-3b036</string>
	<key>STORAGE_BUCKET</key>
	<string>noti-3b036.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:564881828108:ios:ac1a64ab6ea2bfae680129</string>
</dict>
</plist>